@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>OSDE VL</h1>
    <p class="lead">OSDE VL permite acceder a la validación en línea</p>
    <p><a href="about:blank" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primeros pasos</h2>
        <p>
            Comience paso a paso a utilizar la aplicación.
        </p>
        <p><a class="btn btn-default" href="about:blank">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Uso Avanzado</h2>
        <p>Obtenga el mayor provecho posible de la aplicación.</p>
        <p><a class="btn btn-default" href="about:blank">Leer más &raquo;</a></p>
    </div>
</div>